<!DOCTYPE html>
<html lang="en">
<head>
    <% include ('./partials/head.ejs') %>
    <title>Edit <%= tabTitle %></title>
</head>
<body>
    <h1>Edit <%= pokemon.name %></h1>
    <img src="<%= pokemon.img %> " alt="<%= pokemon.name %> ">
    <form action="/pokemon/<%= index %>?_method=PUT" method="POST">
        Name <input type="text" name="name" value="<%= pokemon.name %>"> <br/>
        Type <input type="text" name="type" value="<%= pokemon.type %>"><br/>
        <input type="submit" name="edit" value="SUBMIT EDIT"> <br/>
        <input type="submit" name="cancel" value="CANCEL">
    </form>
</body>
</html>